* {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://plus.unsplash.com/premium_photo-1726399099948-356ed0a1f454?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: fixed;
}

:root {
    --cream: #f9f3e2;
    --cream-75: #f9f3e2BF;
    --cream-50: #f9f3e280;
    --beige: #ccbcac;
    --blue: #3ea0d2;
    --navy: #293444;
    --taupe: #574846;
    --coral: #d05661;
    --green: #5b6f4b;

    --main-bg: var(--cream-75);
    --main-text: var(--navy);
    --accent-1: var(--blue);
    --accent-2: var(--coral);

    background-color: var(--main-bg);
    color: var(--main-text);
}

/*! Light/ Dark mode? */

/* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
} */



/*! Containers */

#flex {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

#outlet {
    width: 100%;
    margin: 0;
    flex: 1 1 auto;
    background-color: var(--main-bg);
}