/*! Header */

#header, #footer {
    position: relative;
}

#header {
    background-color: var(--blue);
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

#header > div, #footer div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: block; 
    z-index: 100;
}

.nav-links {
    background-color: var(--blue);
    height: 100%;
}

.nav-links a, .MuiBox-root a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    padding-right: 1rem;
}

.nav-links a:hover {
    cursor: pointer;
}

.nav-links li {
    list-style-type: none;
    margin: 0;
}

/*! Footer */

#footer {
    background: var(--navy);
}

#footer p {
    z-index: 10;
    color: var(--cream);
}



/*! Media query for tablet */

@media (min-width: 600px) {
    
}

@media (min-width: 700px) {
    .hamburger {
        display: none;
    }
  
}

@media (min-width: 800px) {
    .nav-links a, .MuiBox-root a {
        padding-right: 2rem;
    }
  
}

/*! Media query for desktop */

@media (min-width: 1000px) {
    #header > div, #footer div {
        width: 80%;
    }
}