/*! Hero */

#hero {
    width: 100%;
    margin: 0;
    height: 400px;
    position: relative;
    background-color: var(--navy);
}

#hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

#hero div {
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 5%;
    right: 5%;
    color: var(--cream);
}

/*! Card Grid */

.card-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article {
    max-width: 600px;
    min-width: 200px;
    flex: 1;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.book-cover {
    position: relative;
    display: inline-block;
}

article img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    aspect-ratio: 2 / 3;
}

.book-cover a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    transition: 0.3s ease-in-out;
}

.book-cover:hover a {
    transform: translateY(-0.5rem);
}

.book-cover a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.book-cover:hover a::before {
    opacity: 1;
}

.book-cover span {
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    z-index: 10;
}

.book-cover:hover span {
    opacity: 1;
    transition: 0.3s ease-in-out;
    pointer-events: auto;
}

.book-cover span:hover {
    background-color: var(--coral);
    transition: 0.3s ease-in-out;
}

article .content {
    background-color: var(--beige);
    padding: 1rem 2rem;
    margin-top: 1rem;
    flex: 1;
}

/*! Image Text Section */

.image-text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.half-image, .half-text {
    flex: 1 1 48%;
}

.half-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
}

/*! Media query for tablet */

@media (min-width: 700px) {
    #hero div {
        top: 50%;
    }

    .card-grid {
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .book-grid {
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    article {
        margin-bottom: 1rem;
    }

    article img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 2 / 3;
        max-height: 60vh;
    }

    .image-text-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .reverse {
        flex-direction: row-reverse;
    }

}
  
/*! Media query for desktop */

@media (min-width: 1000px) {
    #hero div {
        left: 10%;
        right: 10%;
    }
  
}

@media (min-width: 1200px) {
    .card-grid {
        gap: 2rem;
    }

    .image-text-section {
        gap: 2rem;
    }
  
}