/*! Hero */

#hero {
    width: 100%;
    margin: 0;
    height: 400px;
    position: relative;
    background-color: var(--navy);
}

#hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

#hero div {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 10%;
    color: var(--cream);
}

/*! Card Grid */

.card-grid {
    width: 100%;
    display: flex;
    gap: 1rem;
    grid-template-columns: minmax(100px, 1fr) 3fr;
}

article {
    background-color: var(--beige);
}